#bloque_menu {
    background-color: rgb(186, 167, 255);
    border: 10px;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 20px;
    padding: 25px;
}

h1 {
    text-align: center;
    top: -75px;
    color: rgb(99, 0, 102);
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body {
    background-color: rebeccapurple;
    justify-content: center;
    margin: 25px;
    font-family: Arial;
}

#bloque_principal {
    margin: 0 auto;
    background-color: rgb(145, 95, 196);
    padding: 7rem;
    width: 25%;
    border-radius: 20px;
}

#bloque_form {
    margin: 0 auto;
    padding: 5%;
    height: 70%;
    border-radius: 20px;
    border-color: rebeccapurple;
    background-color: rgb(196, 159, 233);
}