<nav class="bg-dark fixed-top">
    <div class="container">
        <ul class="nav nav-fill w-100">
            <li class="nav-item">
                <a class="nav-link text-white" href="/">INICI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/posts">POSTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/autors">AUTORS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/posts">TAGS</a>
            </li>
        </ul>
    </div>
</nav>
