{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ author.first_name }} {{ author.last_name }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="author-info">
                <h3>Detalle de {{ author.first_name }} {{ author.last_name }}</h3>
                <p><strong>Nombre:</strong> {{ author.first_name }}</p>
                <p><strong>Cognom:</strong> {{ author.last_name }}</p>
                <p><strong>Correo:</strong> {{ author.email }}</p>
            </div>
            <div class="mt-4">
                <h3>Posts escritos por {{ author.first_name }} {{ author.last_name }}</h3>
                <div class="row">
                    {% if author.posts.all %}
                        {% for post in author.posts.all %}
                            {% include 'my_site/includes/post.html' %}
                        {% endfor %}
                    {% else %}
                        <p>No hay posts escritos.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}