{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ tag.caption }}
{% endblock %}

{% block content %}
  <div class="container mt-4">
      <h1>Posts amb l'etiqueta - {{ tag.caption }}</h1>
      <div class="row">
          {% for post in tag.posts.all %}
          <div class="col-md-4 mb-4">
              <div class="card">
                  <img src="{% static 'blog/images/' %}{{ post.image_name }}" class="card-img-top" alt="Post Image">
                  <div class="card-body">
                      <h5 class="card-title">{{ post.title }}</h5>
                      <p class="card-text">{{ post.excerpt }}</p>
                      <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Leer más</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
{% endblock %}
