{% extends 'base.html' %}
{% load static %}

{% block title %}
    Lista de Autores
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        {% for author in authors %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ author.first_name }} {{ author.last_name }}</h5>
                    <p class="card-text">Email: {{ author.email }}</p>
                    <a href="{% url 'author_detail' author.id %}" class="btn btn-primary">Leer más</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
