<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pàgina no trobada</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f8f9fa;
        }

        .error-message {
            text-align: center;
            color: #6c757d;
        }
    </style>
</head>
<body>
{% include 'my_site/includes/header.html' %}

<div class="container">
    <h1 class="error-message">ERROR 404<br>Pàgina no trobada</h1>
</div>

{% include 'my_site/includes/footer.html' %}
</body>
</html>
