<h2>{{ titol }}</h2>

<form (ngSubmit)="afegirCotxe()">
  <label for="model">Model:</label>
  <input id="model" [(ngModel)]="nouCotxe.model" name="model" required>
  <br>

  <label for="marca">Marca:</label>
  <input id="marca" [(ngModel)]="nouCotxe.marca" name="marca" required>
  <br>

  <label for="color">Color:</label>
  <input id="color" [(ngModel)]="nouCotxe.color" name="color" required>
  <br>

  <label for="velocitat">Velocitat (km/h):</label>
  <input id="velocitat" type="number" [(ngModel)]="nouCotxe.velocitat" name="velocitat" required>
  <br>

  <label for="combustible">Combustible:</label>
  <select id="combustible" [(ngModel)]="nouCotxe.combustible" name="combustible" required>
    <option value="gasolina">Gasolina</option>
    <option value="gas">Gas</option>
    <option value="diesel">Diesel</option>
    <option value="electric">Elèctric</option>
    <option value="hybrid">Híbrid</option>
  </select>
  <br>

  <button type="submit">Afegir Cotxe</button>
</form>

<ul>
  <li *ngFor="let cotxe of cotxes; let i = index; trackBy: trackByIndex">
    <div [ngClass]="{'llamp': cotxe.correComUnLlamp}">
      <strong>Model:</strong> {{ cotxe.model }} | 
      <strong>Marca:</strong> {{ cotxe.marca }} | 
      <strong>Color:</strong> {{ cotxe.color }} | 
      <strong>Velocitat:</strong> {{ cotxe.velocitat }} km/h |
      <ng-container [ngSwitch]="cotxe.combustible">
        <span *ngSwitchCase="'hybrid'" style="color: green;">Combustible: {{ cotxe.combustible }}</span>
        <span *ngSwitchCase="'electric'" style="color: green;">Combustible: {{ cotxe.combustible }}</span>
        <span *ngSwitchCase="'gas'" style="color: blue;">Combustible: {{ cotxe.combustible }}</span>
        <span *ngSwitchCase="'gasolina'" style="color: blue;">Combustible: {{ cotxe.combustible }}</span>
        <span *ngSwitchCase="'diesel'" style="color: brown;">Combustible: {{ cotxe.combustible }}</span>
        <span *ngSwitchDefault>Combustible: {{ cotxe.combustible }}</span>
      </ng-container>
      <button (click)="eliminarCotxe(i)">Eliminar</button>
    </div>
  </li>
  <li *ngIf="cotxes.length === 0">Llista buida de cotxes</li>
</ul>
