* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(multimedia/pan.jpg);
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#bloc {
    background-color: white;
    border-radius: 2em;
    padding: 1em;
    margin: 2em;
    flex: 1;
}

#welcome {
    font-size: 20px;
}

#main-header {
    text-align: center;
}

#nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}

#navigation {
    background-color: bisque;
    border-radius: 2em;
    width: 15em;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#navigation a {
    text-decoration: none;
    color: rgb(162, 105, 0);
    padding: 0.5em;
}

#main-content {
    display: flex;
    flex: 1;
}

#intro {
    color: rgb(162, 105, 0);
    font-size: 150%;
    background-color: bisque;
    border-radius: 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 100%; /* Cambiado a 100% para que ocupe todo el ancho */
}

#article {
    padding: 1em;
    width: 100%; /* Cambiado a 100% para que ocupe todo el ancho */
}

#pa-integral,
#pa-segol {
    margin-top: 1em;
}

#sidebar {
    color: rgb(162, 105, 0);
    font-size: 150%;
    background-color: bisque;
    border-radius: 2em;
    padding: 1em;
}

#sidebar ol {
    margin: 0;
    padding-left: 1em;
}

#footer {
    margin-top: 5%;
    text-align: center;
    padding: 1em;
}

@media screen and (max-width: 870px) {
    #nav-bar {
        margin-bottom: 5%;
    }
    #main-content {
        flex-direction: column;
    }
    #intro {
        align-items: center;
        margin: 0 auto;
    }
    #article {
        margin-left: 0; /* Cambiado a 0 para que no haya un margen negativo */
        padding: 1em;
        flex-direction: column;
    }
}
