{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'primer_daw/primer_daw.css' %}">
{% endblock %}

{% block page_title %}
    Danjango Project
{% endblock %}

{% block main_title %}
    <h1> Horari de {{ day }} </h1>
{% endblock %}

{% block navbar %}
    {% include 'primer_daw/includes/header.html' %}
{% endblock %}

{% block content %}
    <table border="1">
        <tr>
            <th style="background-color: #f2f2f2;">Hora d'inici</th>
            <th style="background-color: #f2f2f2;">Hora de fi</th>
            <th style="background-color: #f2f2f2;">Mòdul</th>
        </tr>
        {% for day in day_schedule.classes %}
            <tr class="{{ day.modul|slugify }}">
                <td>{{ day.hora_inici }}</td>
                <td>{{ day.hora_fi }}</td>
                <td>{{ day.modul }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block footer %}
    Ⓒ Danjango Project
{% endblock %}


