{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'primer_daw/primer_daw.css' %}">
{% endblock %}

{% block page_title %}
    Danjango Project
{% endblock %}

{% block main_title %}
    <h1> Benvingut </h1>
{% endblock %}

{% block navbar %}
    {% include 'primer_daw/includes/header.html' %}
{% endblock %}

{% block content %}
    <p>A aquesta pàgina podràs trobar l'horari de primer de DAW
        <br><br>Clica un dia per veure', l'horari.</p>
{% endblock %}

{% block footer %}
    Ⓒ Danjango Project
{% endblock %}


