<main class="create-container">

    <!-- Capçalera -->
    <div class="hero-section">
        <h2>Contacte</h2>
    </div>

    <div class="form-and-info-container">
        <!-- Formulari de contacte -->
        <div class="form-container">
            <form class="contact-form">
                <div>
                    <label for="name">Nom</label>
                    <input type="text" id="name" placeholder="El teu nom">
                </div>
                <div>
                    <label for="email">Correu electrònic</label>
                    <input type="email" id="email" placeholder="elteu@email.com">
                </div>
                <div>
                    <label for="subject">Assumpte</label>
                    <select id="subject">
                        <option value="">Selecciona un assumpte</option>
                        <option value="general">Consulta General</option>
                        <option value="support">Suport tècnic</option>
                        <option value="business">Associació comercial</option>
                        <option value="altres">Altres</option>
                    </select>
                </div>
                <div>
                    <label for="message">Missatge</label>
                    <textarea id="message" rows="6" placeholder="El teu missatge"></textarea>
                </div>
                <button type="submit">Enviar missatge</button>
            </form>
        </div>

        <!-- Informació de contacte -->
        <div class="contact-info">
            <div class="info-item">
                <div class="icon">
                </div>
                <div>
                    <h3>La nostra ubicació</h3>
                    <p>C\ Ubuntu 404, Manresa, Barcelona</p>
                </div>
            </div>

            <div class="info-item">
                <div class="icon">
                </div>
                <div>
                    <h3>Telèfon</h3>
                    <p>+12 345 678 901</p>
                </div>
            </div>

            <div class="info-item">
                <div class="icon">
                </div>
                <div>
                    <h3>Correu electrònic</h3>
                    <p>dan&#64;maldonado.com</p>
                </div>
            </div>
        </div>
    </div>
</main>
