* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(multimedia/pan.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#bloc {
    background-color: white;
    border-radius: 2em;
    padding: 1em;
    margin: 2em;
    flex: 1;
}

#welcome {
    font-size: 20px;
}

#main-header {
    text-align: center;
}

#nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}

#navigation {
    background-color: rgb(255, 228, 196);
    border-radius: 2em;
    width: 25em;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#navigation a {
    text-decoration: none;
    color: rgb(162, 105, 0);
    padding: 0.5em;
}

#main-content {
    display: flex;
    flex: 1;
    margin-top: 1em;
}

#intro {
    color: rgb(162, 105, 0);
    font-size: 150%;
    background-color: rgb(255, 228, 196);
    border-radius: 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 100%; 
}

#productes {
    padding: 1em;
    width: 100%;
}

#pa-integral,
#pa-segol {
    margin-top: 1em;
}

#sidebar-dreta {
    color: rgb(162, 105, 0);
    font-size: 150%;
    background-color: rgb(255, 228, 196);
    border-radius: 2em;
    padding: 1em;
    max-width: 15em;
}

#sidebar-esquerre {
    color: rgb(162, 105, 0);
    font-size: 150%;
    background-color: rgb(255, 228, 196);
    border-radius: 2em;
    padding: 1em;
    max-width: 15em;
}

#sidebar ol {
    margin: 0;
    padding-left: 1em;
}

#footer {
    margin-top: 5%;
    text-align: center;
    padding: 1em;
}

@media screen and (max-width: 1090px) {
    #nav-bar {
        margin-bottom: 5%;
    }
    #main-content {
        flex-direction: column;
        align-items: center;
    }
    #intro {
        align-items: center;
        margin: 0 auto;
    }

    #sidebar-dreta {
        max-width: 35em;
    }
    

    #article {
        margin-left: 0;
        padding: 1em;
        flex-direction: column;
    }
}

#boto-contacte, #missatge-contacte {
    display: block;
}

#missatge-contacte {
    display: none;
}

#productes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 20em;
    padding: 1em;
}