<div class="about-container">
    <h1>{{ titulo }}</h1>
    <h2>{{ subtitulo }}</h2>
    <p>{{ email }}</p>
    <p>Aquest projecte ha estat desenvolupat amb Angular, un dels frameworks més potents i populars per a la creació d'aplicacions web modernes. Angular és una plataforma de desenvolupament de codi obert, creada i mantinguda per Google, que permet construir aplicacions d'una sola pàgina (Single Page Applications) amb una estructura sòlida, escalable i altament eficient.<br><br>

        El seu principal avantatge és la capacitat d'organitzar el codi en components reutilitzables, seguint l'arquitectura basada en MVC (Model-View-Controller) o més actualment MVVM (Model-View-ViewModel). Gràcies a aquesta modularitat, el projecte es pot dividir en petites peces independents que col·laboren entre si, facilitant el manteniment, la reutilització i l'escalabilitat.</p>
</div>
 
