<nav class="navbar">
    <div class="navbar-container">
        <div class="logo">
            <a [routerLink]="['/']">Mi Portfolio</a>
        </div>
        <div class="menu-toggle" (click)="toggleMenu()">
            <i class="fa fa-bars"></i>
        </div>
        <ul class="nav-menu" [ngClass]="{'active': menuActive}">
            <li class="nav-item">
                <a [routerLink]="['/about']" routerLinkActive="active" class="nav-link">Sobre nosaltres</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/projects']" routerLinkActive="active" class="nav-link">Projectes</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/create-project']" routerLinkActive="active" class="nav-link">Crear</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/contact']" routerLinkActive="active" class="nav-link">Contacte</a>
            </li>
        </ul>
    </div>
</nav>