body {
    background-image: url('pan.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; 
}

.icona{
    position: absolute;
    top: 7%;
    left: 12%;
    z-index: 2;
    width: 7em;
    height: 7em;
}

#bloc{
    position: absolute;
    background-color: white;
    width: 80%;
    height: 90%;
    margin-top: 5vh;
    left: 10%;
}

#titol{
    text-align: center;
}

#llista{
    margin-left: 2em;
}

.text {
    margin: 5vh
}

.foto-pa{
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: 2;
    width: 50%;
}

.imatge-td{
    width: 80%;
    height: 80%;
}

table {
    position: absolute;
    top: 30%;
    left: 68%;
    width: 30%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

#panaderies{
    position: absolute;
    top: 25%;
    left: 50vh;
}