* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

body {
    background-image: url(multimedia/cesped.jpg);
    background-size: cover;
}

#bloc {
    background-color: rgb(213, 213, 213);
    border-radius: 2em;
    padding: 1em;
    margin: 2em;
    min-height: 5vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    align-items: center;
    justify-content: center;
}

nav{
    margin-left: -1em;
}
nav ul {
    list-style: none; 
    padding: 0; 
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 1em;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    border-bottom: 2px solid #333; 
}

.element-grid{
    background-color: #757575;
    border-radius: 2em;
}

.element-grid *{
    margin-left: 1em;
}

@media screen and (max-width: 800px) {
    #bloc {
        grid-template-columns: 1fr;
    }
    nav {
        margin: 0;
        text-align: center;
    }

    nav ul {
        justify-content: center;
    }
}

